body {
  max-width: 670px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
main {
  padding: 16px;
  width: 100%;
}

main h1 {
  font-size: 36px;
}

button {
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  margin-top: 8px;
}
