body {
  max-width: 670px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
header {
  padding: 16px;
}
header h1 {
  font-size: 32px;
  padding: 16px 0;
}
.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBtn {
  height: 32px;
  display: flex;
  align-items: center;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.warningArea {
  background-color: #fff7d4;
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 5px;
  border: 1px solid #fde583;
}
main {
  padding: 0 16px 16px 16px;
}
.taskItem {
  border: 1px solid #6c757d;
  border-radius: 5px;
  margin: 16px 0;
  display: flex;
  padding: 16px;
}
.taskItem h3 {
  font-size: 20px;
  font-weight: bold;
}

.taskItemLeft {
  padding-right: 16px;
}
.taskItemContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category {
  border-radius: 5px;
  padding: 4px 8px;
  background-color: #edeff1;
  color: black;
  font-weight: bold;
  font-size: 12px;
  margin: 2px;
}
.taskItemRight button {
  background-color: white;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}
.taskItemRight button:hover {
  background-color: #edeff1;
}
