<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>タスク一覧</title>
    <link rel="stylesheet" href="/css/tasklist.css" />
  </head>
  <body>
    <header>
      <div class="headerTop">
        <h1>タスク一覧</h1>
        <button class="headerBtn">タグ管理</button>
      </div>
      <div class="warningArea">
        <p>実施期限が近いタスクがあります！</p>
      </div>
    </header>
    <main>
      <input type="search" placeholder="タスク名で検索..." />
      <div>
        <input type="checkbox" />
        <div class="taskItemCenter">
          <h3>タスクA</h3>
          <p>実施期限：2024年4月30日</p>
          <span>仕事</span>
          <span>重要</span>
        </div>
        <div class="taskItemRight">
          <button>編集</button>
          <button>削除</button>
        </div>
      </div>
    </main>
  </body>
</html>
