<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>タスク追加</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/new.css" />
  </head>
  <body>
    <main>
      <h1>タスクを追加</h1>
      <div class="task-name">
        <p>タスク名</p>
        <textarea></textarea>
      </div>
      <div class="task-deadline">
        <p>実施期限</p>
        <input type="datetime-local" id="task-deadline" name="task_deadline" />
      </div>
      <div class="task-select">
        <p>タグ</p>
        <select id="fruits" name="fruits">
          <option value="select">-- 選択してください --</option>
          <option value="apple">仕事</option>
          <option value="banana">重要</option>
          <option value="orange">家庭</option>
          <option value="grape">その他</option>
        </select>
      </div>
    </main>
  </body>
</html>
